.venv/
.env
__pycache__/
*.pyc
instance/
*.sqlite3
.DS_Store
.vscode/
.idea/
*.log
*.bak
*.swp
*.tmp
*.env
*.egg-info/
dist/
build/
*.egg
pip-wheel-metadata/
*.jar
minio-data/
data-duckdb/
redpanda-data/
.lock